.config/jgit
.config/nvim/pack
.config/tmux/plugins
.config/zsh/.zsh_history
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions
.config/configstore
.config/iterm2/AppSupport
.config/priv

.ssh/config.d
.ssh/id_*
.ssh/known_hosts
