[init]
	defaultBranch = main
[user]
	email = sam.rogerson@helsing.ai
	name = Sam Rogerson
[alias]
	co = checkout
	ci = commit
	st = status
	sts = status --short
    bump = commit --allow-empty -m "bump"
[pull]
	ff = only
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = nvim
	excludesfile = /Users/samrogerson/.gitignore

[credential]
    helper = store
